<%@ Master Language="C#" AutoEventWireup="true" CodeFile="MasterPageIsat.master.cs" Inherits="MasterPage" %>

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head runat="server">
    <title>Top Model Indo</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <link href="css/bootstrap.css" rel="stylesheet" />
    <link href="css/footer-distributed.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/font-awesome.min.css" />
    <link href="css/style.css" rel="stylesheet" />
    <link href="css/style2.css" rel="stylesheet" />
    <link href="css/popuo-box.css" rel="stylesheet" type="text/css" media="all" />
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,300,200,700,500' rel='stylesheet' type='text/css' />
    <link href="css/4-col-portfolio.css" rel="stylesheet" />
    <link href="css/StyleSheet.css" rel="stylesheet" />
    <link href="css/owl.theme.css" rel="stylesheet" />
    <link href="css/owl.carousel.css" rel="stylesheet" />

    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>

<body oncontextmenu=" return disableRightClick();">
    <form id="form1" runat="server">
        <div class="header">
            <div class="row">
                <div class="col-xs-2">
                    <div class="icon-menu">
                        <i class="fa fa-bars"></i>
                    </div>
                </div>
                <div class="col-xs-8" align="center">
                    <a href="DefaultIsat.aspx?msisdn=<%=Request.QueryString["msisdn"] %>">
                        <img class="img-responsive " style="max-width: 160px;" src="img/TopModelIndo_FINAL2.png" />
                    </a>
                </div>
                <div class="col-xs-2"></div>
            </div>

            <div class="menu blurred-bg">
                <ul>
                    <i class="fa fa-times"></i>
                    <li><a href="DefaultIsat.aspx">Home</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle " type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Artis
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <asp:Repeater ID="rptArtist" runat="server">
                                <ItemTemplate>
                                    <li><a href='ArtistListIsat.aspx?cat=<%# Eval("id") %>'><%# Eval("ArtistName") %></a></li>
                                </ItemTemplate>
                            </asp:Repeater>
                        </ul>
                    </li>
                    <li><a href="FreeContentIsat.aspx">Konten Gratis</a></li>
                    <li><a href="premiumvideoIsat.aspx">Premium</a></li>
                </ul>
            </div>
        </div>

        <div class="subscriber" style="text-align: center">
            <asp:Panel ID="pnlReg" runat="server">
                <a href="SubscribeAngelIsat.aspx" class="btn btn-primary btn-md btnLanggan">lANGGANAN &nbsp;<i class="fa fa-thumbs-o-up"></i></a>
            </asp:Panel>
        </div>

        <br />
        <br />
        <br />

        <div id="menuClose" class="container no-padding">
            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
            </asp:ContentPlaceHolder>
        </div>

        <footer class="footer-distributed">
            <div class="footer-left">
                <p class="footer-links">
                    <a href="#">Syarat</a> &
                    <a href="#">Ketentuan</a>
                </p>
                <p>Top Model Indonesia &copy; 2015</p>
            </div>
        </footer>


        <div class="modal fade defaultModal" tabindex="-1" role="dialog" aria-labelledby="defaultModal">
            <div class="modal-dialog">
                <div class="modal-content cstmModal">
                    <h4>Langganan</h4>

                    <div class="modalCntn">
                        Anda akan berlangganan layanan Top Model Indonesia untuk mendownload tanpa batas seharga Rp. 1,430/sms, selama seminggu akan mendapatkan 3 sms. Pastikan pulsa anda cukup!
                    </div>

                    <a href="#" class="btn btn-default" data-dismiss="modal" aria-label="Close">TIDAK</a>
                    <a href="SubscribeAngelIsat.aspx" class="btn btn-primary pull-right">SETUJU</a>
                </div>
            </div>
        </div>
    </form>

    <script src="js/jquery2.1.3.min.js"></script>
    <script src="js/bootstrap.js"></script>


    <script type="text/javascript">
        //disable click
        function disableRightClick() {
            alert("Sorry, right click is not allowed !!");
            return false;
        }

        //sidemenu
        $(document).ready(function () {
            $('.icon-menu').click(function () {
                $('.menu').animate({
                    left: "0px"
                }, 400);
                $('body').append('<div class="overlay"></div>');
                $('.overlay').show();
            });

            $('.fa-times').click(function () {
                $('.menu').animate({
                    left: "-350px"
                }, 400);
                $('.overlay').remove();
            });
        });
    </script>

    <script type="text/javascript" src="js/owl.carousel.js"></script>
    <script type="text/javascript">
        //owl-carousel
        $(document).ready(function () {
            var owl = $("#PopularItem");

            owl.owlCarousel({
                itemsDesktop: [1000, 5],
                itemsDesktopSmall: [900, 3],
                itemsTablet: [600, 2],
                itemsMobile: [300, 2],
                navigation: true,
                navigationText: false,
                autoPlay: 3000,
            });
        });
    </script>

</body>

</html>
