body
{
	background-color:White;
	padding:0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	margin:0px auto auto auto;
	color:#000;
	line-height: 20px;
}

p{
	padding:2px;
	margin:0px;
}

/* buat all */
#main_container{
	width:1000px;
	height:auto;
	margin:auto;
	padding:0px;
	background-color:#FFFFFF;
}

#header{
	width:1000px;
	height:136px;
	background-color:White;
	background-position:0px 0px;
	margin:auto;
}

#logo{
	float:left;
	padding:0 0 0 15px;
    height: 101px;
}

/*buat menu tab*/
#main_content{
	clear:both;
}

.languages{
float:right;
width:150px;
padding:8px 0 0 0;
}

.lang_text{
	float:left;
	padding:0 5px 0 0;
	color:#1DA1CF;
}

a.lang{
	display:block;
	float:left;
	padding:0 5px 0 5px;
}
.top_right{
	width:728px;
	float:right;
}

.bottom_right{
	width:200px;
	float:right;
	margin:10px 20px 0 0;
}

.big_banner{
	float:right;
	padding:10px 20px 0 0;
}

.big_banner a
{
	color:#000000;
	text-decoration:none;
}

.big_banner a:hover
{
	color:#ff0090;
	text-decoration:underline;
}


/*---------------- menu tab----------------------*/
#menu_tab{
	width:950px;
	height:36px;
	margin: 0 auto;
	background:url(images/menu_bg.gif) repeat-x;
}

ul.menu_ori {
	list-style-type:none; 
	display:block;  
	margin:0px; padding:0px;
}

ul.menu_ori li {
	display:inline;
	font-size:11px;
	font-weight:bold;
	line-height:36px;
}
ul.menu_ori li.divider {
	display:inline;
	width:4px;
	height:36px;
	float:left;
	background:url(images/menu_divider.gif) no-repeat center;
}

.menu_ori a {
	display:block; 
	float:left; 
	padding:0px 8px 0px 9px;
	eight:36px;
	text-decoration:none;
	color:white;
}

.menu_ori a:hover{
	display:block; float:left; 
	height:36px;
	color:white;
	text-decoration:none; 
	background:#ff0090;
}



/*----------------crumb_navigation-------------*/
.crumb_navigation{
	width:925px;
	height:15px;
	padding:5px 10px 0 20px;
	color:#333333;
	margin: 0 auto;
	background:url(images/navbullet.png) no-repeat left;
	border:1px solid red;
}

.crumb_navigation a{
	color:#0fa0dd;
	text-decoration:underline;
}

span.current{
	color:#0fa0dd;
}

/*-------------left_content------------------*/
.left_content{
	width:180px;
	float:left;
	padding:0 0 0 5px;
}

.title_box{
	width:180px;
	height:30px;
	margin:5px 0 0 0;
	background:url(images/menu_title_bg.gif) no-repeat center;
	text-align:center;
	font-size:13px;
	font-weight:bold;
	color:#159dcc;
	line-height:30px;
}

/*--------left menu---------*/
ul.left_menu{
	width:180px;
	padding:0px;
	margin:0px;
	list-style:none;
}

ul.left_menu li{
	margin:0px;
	list-style:none;
}

ul.left_menu li.odd a{
	width:166px;height:25px;display:block; border-bottom:1px #e4e4e4 dashed;
	text-decoration:none;color:#504b4b;padding:0 0 0 14px; line-height:25px;
}

ul.left_menu li.even a{
	width:166px;height:25px;display:block; border-bottom:1px #e4e4e4 dashed; background-color:#f0f4f5;
	text-decoration:none;color:#504b4b;padding:0 0 0 14px; line-height:25px;
}
ul.left_menu li.even a:hover, ul.left_menu li.odd a:hover{
	color:#000; text-decoration:underline;
}

.border_box{
	width:180px;
	height:auto;
	text-align:center;
	background:url(images/box_bottom_bg.gif) no-repeat center bottom;
}
.product_title{
	color:#ff8a00;
	padding:5px 0 5px 0;
	font-weight:bold;
}
.product_title a{
	text-decoration:none;
	color:#ff8a00;
	padding:5px 0 5px 0;
	font-weight:bold;
}
.product_title a:hover{
	color:#064E5A;
}

.product_img{
	padding:5px 0 5px 0;
}

.prod_price{
	padding:5px 0 5px 0;
}

span.reduce{
	color:#666666;
	text-decoration:line-through;
}

span.price{
	color: #ff8a00;
}

/*----------newsletter--------------*/
input.newsletter_input{
	width:150px;
	height:16px;
	border:1px #ddd9d9 solid;
	margin:10px 0 5px 0;
	font-size:12px;
	padding:3px;
	color:#999999;
}

a.join{
	width:17px;
	display:block;
	margin:0px 0 5px 110px;
	padding:2px 8px 6px 8px;
	text-decoration: underline;
	color:#169ECC;
}

.banner_adds{
	width:180px;
	text-align:center;
	padding:10px 0 10px 0;
}

/*--------------oferta------------------*/
.oferta{
	width:585px;
	height:156px;
	background:url(images/slider_bg.gif) no-repeat center;
	float:left;
	padding:0px;
	margin:0 0 5px 5px;
}

.oferta_img{
float:left;
padding:10px 0 0 10px;
}
.oferta_title{
font-size:15px;
color:#159dcc;
font-weight:bold;
}
.oferta_details{
width:340px;
float:left;
padding:20px 0 0 30px;
}
.oferta_text{
padding:5px 0 5px 0;
font-size:12px;
color:#159dcc;
text-align:justify;
line-height:15px;
}
/*center content--------------------------*/
.center_content{
width:600px;
float:left;
padding:5px 10px 5px 15px;
}
.center_title_bar{
width:575px;
height:31px;
float:left;
padding:0 0 0 10px;
margin:0 0 0 5px;
line-height:31px;
font-size:12px;
color:#159DCC;
font-weight:bold;
background:url(images/bar_bg.gif) no-repeat center;
}

/*----------------------right content--------------*/
.right_content{
width:180px;
float:left;
padding:0px;
}
.shopping_cart{
width:180px;
height:84px;
text-align:center;
}
.cart_title{
font-size:12px;
font-size:12px;
color:#847676;
font-weight:bold;
padding:0px;
}
.cart_details{
width:115px;
float:left;
padding:5px 0 0 15px;
text-align:left;
}
.cart_icon{
float:left;
padding:5px 0 0 5px;
}
span.border_cart{
	width:100px;
	height:1px;
	margin:3px 0 3px 0;
	display:block;
	border-top:1px #999999 dashed;
}
/*---------prod_box----------*/
.prod_box{
	width:173px;
	height:auto;
	float:left;
	padding:10px 10px 10px 11px;
}
.center_prod_box{
	width:173px;height: auto;float:left; text-align:center;padding:0px; margin:0px; border:1px #F0F4F5 solid;
}
.prod_details_tab{
	width:173px;
	height:31px;
	float:left;
	margin:3px 0 0 0;
}
img.left_bt{
float:left;
padding:6px 0 0 6px;
}
a.prod_details{
width:75px;
height:24px;
display:block;
float:right;
background:url(images/link_bg.gif) no-repeat center;
margin:2px 5px 0 0;
text-align:center;
line-height:24px;
text-decoration:none;
color:#159dcc;
}

a.prod_compare{
width:75px;
height:24px;
display:block;
float:left;
background:url(images/link_bg.gif) no-repeat center;
margin:2px 0 0 5px;
text-align:center;
line-height:24px;
text-decoration:none;
color:#159dcc;
}
a.prod_buy{
width:75px;
height:24px;
display:block;
float:left;
background:url(images/link_bg.gif) no-repeat center;
margin:2px 0 0 5px;
text-align:center;
line-height:24px;
text-decoration:none;
color: #006600;
}
/*---------prod_box_big----------*/
.prod_box_big{
	width:920px;
	height:auto;
	margin-left:10px;
	padding:10px 10px 15px 15px;
}

.center_prod_box_big{
	width:850px;height: auto; padding:0; margin:0 auto;
}

.center_prod_box_big img
{
	height:21px;
}

.center_prod_box_big .doll
{
	height:auto;
	width:auto;
	float:right;
}

.center_prod_box_big h1
{
	margin:-27px 0 0 40px;
	padding: 0;
	color:#CCCCCC; font-size:18px;
}

.center_prod_box_big p
{
	margin:0px 0 0 40px;
	padding: 0;
	color:#000000; font-size:20px;
	font-weight:lighter;
}

.center_prod_box_big ul
{
	list-style-type:none;
}
.center_prod_box_big ul li
{
	height:50px;	
}


.center
{
	margin:0 auto;
	width:880px;
	height:auto;
	border:0px solid red;
}

.center p
{
	font-size:20px;
	padding-left:5px;
	padding-bottom:10px;
}

.left_dt
{
	float:left;
	border:0px solid red;
	width:300px;
}

.right_dt
{
	float:left;
	margin-left:20px;
	width:400px;
}

.right_dt p
{
	font-size:12pt;
	text-align:justify;
}

.left_dt img
{
	width:300px;
	height:425px;
}

.left_dt .ank
{
	width:70px;
	margin-right:3px;
	height:100px;
	
}

.tab
{
	clear:both;
	padding:0;
	
}

.tab11
{
	background-color:#cccccc;
	margin-right:10px;
}

.tabdiv
{
	border:1px solid #cccccc;
	margin-left:0px;
	padding:20px 10px 10px 10px;
	font-size:15px;
	width:450px;
	float:left;	
}

.tabdetail
{
	border:1px solid red;
}

.det-brg
{
	width:300px;
	height:400px;
	padding:10px;
	margin-top:100px;
}

.product_img_big{
	width:170px;
	padding:10px 0 0 10px;
	float:left;
}

.details_big_box{
	width:345px;
	float:left;
	padding:0 0 0 15px;
	text-align:left;
}
.product_title_big{
color:#ff8a00;
padding:5px 0 5px 0;
font-weight:bold;
font-size:14px;
}
.specifications{
	font-size:12px;
	font-weight:bold;
	line-height:18px;
}

.thumbs{
	padding:8px 5px 8px 5px;
	border:1px #DFD1D1 solid;
	margin:15px 0 0 0;
}

.thumbs a{
	padding:3px;
}

.prod_price_big{
	padding:5px 0 5px 0;
	font-size:16px;
}

a.addtocart{
	width:76px;
	height:27px;
	display:block;
	float:left;
	background:url(images/addtocart.gif) no-repeat left;
	padding:0 0 0 33px;
	text-decoration:none;
	line-height:27px;
	color:#1c4a52;
}

a.compare{
	width:76px;
	height:27px;
	display:block;
	float:left;
	margin:0 0 0 10px;
	background:url(images/compare.gif) no-repeat left;
	padding:0 0 0 33px;
	text-decoration:none;
	line-height:27px;
	color:#1c4a52;
}

span.blue{
	color:#159DCC;
}

/*---------------contact_form------------------*/
.contact_form{
	width:355px;
	float:left;
	padding:0;
}

.form_row{
	width:335px;
	clear:both;
	padding:10px 0 10px 0;
	color:#a53d17;
}

label.contact{
	width:75px;
	float:left;
	font-size:12px;
	text-align:right;
	padding:4px 5px 0 0;
	color: #333333;
}

input.contact_input{
	width:253px;
	height:18px;
	background-color:#fff;
	color:#999999;
	border:1px #DFDFDF solid;
	float:left;
}

textarea.contact_textarea{
	width:253px;
	height:100px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color: #999999;
	background-color:#fff;
	border:1px #DFDFDF solid;
	float:left;
}

a.contact{
	width:99px;
	height:27px;
	display:block;
	float:right;
	margin:0 0 0 10px;
	background:url(images/contact_bt.gif) no-repeat left;
	padding:0 0 0 10px;
	text-decoration:none;
	line-height:27px;
	color:#1c4a52;
}


/*--------------FOOTER----------------*/
.footer{
	clear:both;
	height:65px;
	width:950px;
}

.left_footer{
	float:left; 
	width:300px; 
	padding:5px 0 0 0px;
	margin-left:0px;
	
}

.left_footer ul
{
	float:left; text-align:left;
	list-style-type:none;
	width:100px;
	margin-top:5px;
	margin-left:0px;
	padding-left:0px;
	color:#000000;
	font-weight:bold;
}

.left_footer ul ul, .left_footer ul ul a
{
	padding-left:0px;
	font-weight:normal;
	color:#000000;
	text-decoration:none;
}

.left_footer ul ul
{
	width:inherit;
}

.left_footer ul ul a:hover
{
	text-decoration:underline;
}

.left_footer ul:nth-of-type(2)
{
	margin-left:25px;
	width:150px;
	padding:0px;
}

.right_footer{
	float:right;
	padding:0;
	margin-right:0px;
}

.right_footer a{
	padding:0 0 0 0px;
	text-decoration:none;
	color: #666666;
}
.right_footer a:hover{
	text-decoration:underline;
}

.center_footer{
	float:left;
	text-align:center;
	color:#666666;
	padding:0;
}

.copyrights
{
	clear:both;
	padding: 30px 0 0 25px;
}

/* ---------------------- */


#kirkan
{
	margin-left:10px;

	width:945px;
	border-top:1px dashed black;
	border-bottom:1px dashed black;
	
}

.kirkan-h1
{
	color:#000000;
	font-size:20px;
	margin-left:10px;
	margin-bottom:10px;
}
#kiri
{
	width:200px;
	position:relative;
	display:inline-table;
	vertical-align:top;
}

.kiri-1
{
	list-style-type:none;
	padding:0;
}


.kiri-1 ul
{
	list-style-type:square;
	padding:0 0 0 20px;
}

.kiri-1 a
{
	color:#000000;
	text-decoration:none;	
}

.kiri-1 a:hover
{
	color:#ff0090;	
}

#kanan
{
	
	display:inline-table;
	width:735px;
}

.products
{
	display:inline-table;
	width:275px;
	margin-left:15px;
	margin-top:20px;
}

.products img
{
	width:275px;
}

.products p
{
	float:none;
	width:175px;
}

.sign-in
{
	margin-left:85px;
	background-color:#f0f0f0;
	width:800px;
	
}

.sign-in table
{
	margin-left:170px;
}

.sign-in p
{
	font-size:15px;
	margin-top:20px;
	padding:20px;
}

.sign-in table tr td
{
	padding:3px;
}

/* about us */
.about-us
{
	margin-left:10px;
	width:945px;
	margin-top:20px;
	
}

.about-left
{
	width:400px;
	text-align:justify;
	padding:10px 10px 10px 40px;
	color:#000000;
	float:left;
}

.about-left h1
{
	font-size:18px;
	color:#000000;
	padding:5px;
}
.about-right
{
	float:right;
	width:400px;
}


/* how */
.how
{
	margin-left:10px;
	width:945px;
	margin-top:20px;
	
}


.how-left
{
	width:400px;
	text-align:justify;
	padding:10px 10px 10px 40px;
	color:#000000;
	float:left;
}

.how-left h1
{
	font-size:18px;
	color:#000000;
	padding:5px;
}
.how-right
{
	float:right;
	margin-top:10px;
	width:250px;
}

.home-left
{
	margin:10px;
	width:950px;
}

.home-left img
{
	height:150px;
	width:330px;
}


.home-left img:nth-of-type(3)
{
	margin-right:0px;
	width:280px;
}

.ptable
{
	width:400px;
	text-align:center;
}
.ptable tr td, .ptable tr th
{ 
	padding:10px;
	margin:10px;
}
.ganjil
{
	background-color:#dedede;
	margin:0px;
}

.genap
{
	background-color:#efefef;
}


.event
{
	margin:10px;
	width:945px;
	border:0px solid black;
}

.event img
{
	float:left;
	width:600px;
}

.event img:nth-of-type(2)
{
	float:right;
	width:335px;
	height:515px;
}

.event img:nth-of-type(3)
{
	margin-top:10px;
	
}

.products h3
{
	font-size:15px;
	margin-bottom:25px;
	
}
.cpayment
{
	width:430px;
	background-color:#cccccc;
	padding:10px;
}

.cpayment tr td
{
	padding:3px;
}